*{
    margin: 0;
    pad: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  background-color: #1a1244;
  padding: 10px 200px;
  border-bottom: 2px solid #401e63;
}
ul {
    display: flex;
}
 nav ul li{
    list-style: none;
 }
 nav ul li a{
    text-decoration: none;
    margin: 10px 5px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.5s;
 }
  nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.322);
    color: brown;
    border-radius: 5px;
    padding: 10px 20px;
  }

 nav div{
    color: white;
 }
 /* hero areia cod start */
   header{
    background-image: url("images/website\ banner.jpg");
    padding: 200px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }
 .search-box-parents{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .search-box-parents i{
    color: red;
    background-color: darkgreen;
    font-size: 25px;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -10px;
 }
 .search-box-parents input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
 }